@CHARSET "UTF-8";

/*清除默认样式(start)*/
ul,li,p,h1{
	display: block;
	margin: 0;
	padding: 0;
}
/*清除默认样式(end)*/

/*导入字体(start)*/
@font-face{
	font-family: raleway;
	src: url('\fonts\raleway\Raleway-Regular.ttf'),
}
@font-face{
	font-family: raleway;
	src: url('\fonts\raleway\Raleway-SemiBold.ttf'),
	font-weight: SemiBold;
	}
/*导入字体(end)*/

body{
	font-size: 100%;
	color: rgb(60, 60, 60);
	margin: 0;
	padding: 0;
	background: rgb(255, 255, 255);
}

a{text-decoration:none; }
a:link{color:rgb(60, 60, 60); }
a:visited{color:rgb(60, 60, 60); }
a:hover{color:rgb(0, 0, 0); }
a:active{color:rgb(60, 60, 60); }

header, footer{
	background: rgb(240, 240, 240);
}

header{
	height: 80px;
	width: auto;
	font-size: 1.125em;
}

.head-content{
	width: 960px;
	margin: 0 auto;
}

.head-content ul{
	height: 80px;
	line-height: 80px;
}

nav{
	float: left;
	font-family: 'raleway', sans-serif;
}

nav li{
	margin-right: 2.5em;
}

.socialSite{
	float: right;
}

.head-content li{
	display: inline;
}

.gllery{
	width: auto;
	height: 300px;
	background: url(../img/gallery-background.png); 
	background-size: cover;
}

main{
	width: 960px;
	margin: 0 auto;
	font-family: 'raleway', sans-serif;
}
main article{
	margin-top: 5em;
}

main h1{
	font-size: 2.5em;
	font-weight: SemiBold;
	margin-bottom: 2.5rem;/*rem是依body的字体进行缩放*/
}
