@font-face {
  font-family: playfair;
  src: url("../fonts/playfair/PlayfairDisplay-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: playfair;
  src: url("../fonts/playfair/PlayfairDisplay-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
